@font-face {
   font-family: 'GmarketSansBold';
   font-display: swap;
   src: url('file:///C:/Users/khssk/AppData/Local/Mobirise.com/Mobirise/projects/project-2020-06-27_233107/fonts/GmarketSansBold/font.woff');
}
